*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
/* shared css */
.btn{
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    gap: 8px;
    margin-left: 180px;
    margin-top: 30px;
    border:none;
}
/* header related css */
header{
    background: rgba(229, 84, 115, 0.10);
    height: 600px;
    background-image: url("./flower/banner.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.heading-one{

    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-size: 55px;
    font-weight: 800;
    margin-left: 180px;
    padding-top: 100px;
}
.banner-text{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-left: 180px;
    margin-top: 30px;
}